* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="button"] {
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

input {
  border-style: none;
  border-radius: 10px;
}

/* 각 section 구분선 */
hr {
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

/* 052022 section, nav, article 태그 사용 시 헤딩 테그 브라우저에서 숨김 처리 */
.heading-tag {
  display: none;
}

/* 052022 wrapper를 가장 큰 단위의 컴포넌트 바로 하위 자식으로 구성 */
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

/* >> header */
.header {
  display: flex;
  justify-content: center;
  background-color: white;
}

.header .wrapper {
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.header__icon {
  font-size: 1rem;
}

.header__icon--dropdown {
  position: relative;
  display: inline-block;
}

.header__icon--dropdown-contents {
  display: none;
  position: absolute;
  padding: 10px 0px 10px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(109, 165, 245);
  min-width: 150px;
  z-index: 1;
}

.header__icon--dropdown-content {
  color: black;
  width: 100px;
  padding: 15px 15px;
  text-decoration: none;
}

.header__icon--dropdown-content:hover {
  background-color: rgb(109, 165, 245);
  border-radius: 10px;
}

.header__icon--dropdown:hover .header__icon--dropdown-contents {
  display: grid;
  justify-content: center;
}

/* header 알람 아이콘 */
.header__icon--dropdown-notification {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  border-color: rgb(109, 165, 245);
  border-style: solid;
  cursor: pointer;
}

/* header 내 계정 아이콘 */
.header__icon--dropdown-account {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  background-color: white;
  border-radius: 50%;
  border-color: rgb(109, 165, 245);
  border-style: solid;
  cursor: pointer;
}

.editor {
  width: 100%;
  margin: 10px auto;
}

.editor .wrapper {
  align-items: center;
  flex-direction: column;
  row-gap: 20px
}

.editor__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.editor__category {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: #D08187;
  border-width: 2px;
}

.editor__container {
  height: 500px;
  background-color: white;
}

#posting-btn {
  margin: 30px auto;
  width: 100%;
}

#saved-btn {
  margin-right: 10px;
}

#saved-btn, #cancel-btn {
  height: 30px;
  width: 100px;
  background-color: #C4C4C4;
}

#posting-btn {
  background-color: #D08187;
  height: 40px;
}