* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input[type="button"] {
  background: none;
  color: inherit;
  border-style: none;
  cursor: pointer;
  border-radius: 10px;
}

input {
  border-style: none;
  border-radius: 10px;
}

/* 각 section 구분선 */
hr {
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

/* 052022 section, nav, article 태그 사용 시 헤딩 테그 브라우저에서 숨김 처리 */
.heading-tag {
  display: none;
}

/* 052022 wrapper를 가장 큰 단위의 컴포넌트 바로 하위 자식으로 구성 */
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

/* >> header */
.header {
  display: flex;
  justify-content: center;
  background-color: white;
}

.header .wrapper {
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.header__icon--dropdown {
  position: relative;
  display: inline-block;
}

.header__icon--dropdown-contents {
  display: none;
  position: absolute;
  padding: 10px 10px 10px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(109, 165, 245);
  width: 100%;
  min-width: 120px;
  left: -50%;
  z-index: 1;
}

.header__icon--dropdown-content {
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 1rem;
}

.header__icon--dropdown-content:hover {
  background-color: rgb(109, 165, 245);
  border-radius: 10px;
}

.header__icon--dropdown:hover .header__icon--dropdown-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logout {
  text-align: left;
  width: 100%;
}

/* header 알람 아이콘 */
.header__icon--dropdown-notification {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  border-color: rgb(109, 165, 245);
  border-style: solid;
}

/* header 내 계정 아이콘 */
.header__icon--dropdown-account {
  margin-left: 10px;
  background-color: white;
}

#profileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.header__log-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 10%
}

.modal-content strong {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Float yes and no buttons and add an equal width */
.yesbtn, .nobtn {
  float: left;
  width: 50%;
  opacity: 0.9;
}

.yesbtn:hover, .nobtn:hover {
  opacity: 1;
}

/* Add a color to the yes button */
.yesbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the no button */
.nobtn {
  background-color: #f44336;
}

.clearfix {
  margin-top: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

.editor {
  width: 100%;
  margin: 10px auto;
}

.editor .wrapper {
  align-items: center;
  flex-direction: column;
  row-gap: 20px
}

.editor__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.editor__category {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: #D08187;
  border-width: 2px;
}

.editor__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.editor__container__title,
.editor__container__content {
  margin: 5px;
  padding: 0 10px 0 10px;
  height: 50px;
  outline: none;
  border-radius: 10px;
}

.editor__container__thumbnail {
  margin: 5px;
  padding: 0 10px 0 10px;
  height: 30%;;
}

.input_title {
  font-size: 1.1rem;
}

#output {
  display: none;
  width: 100%;
  height: 85%;
}

.editor__container__content {
  padding-top: 20px;
  height: 500px;
  border-style: solid;
  border-color: #D08187;
}

#editor__header-btn__saved-btn {
  margin-right: 10px;
}

#editor__header-btn__saved-btn,
#editor__header-btn__cancel-btn {
  height: 30px;
  width: 100px;
  background-color: #C4C4C4;
}

.editor__container__posting-btn {
  margin: 30px auto;
  width: 100%;
  background-color: #D08187;
  height: 40px;
  cursor: pointer;
}

#editor__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.editor__modal-content {
  background-color: #f5b7b7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.editor__modal-content__close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.editor__modal-content__close:hover,
.editor__modal-content__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.editor__modal-content__guide {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}