* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, input[type=submit] {
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

input {
  border-style: none;
  border-radius: 10px;
}

/* 각 section 구분선 */
hr {
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

/* 052022 section, nav, article 태그 사용 시 헤딩 테그 브라우저에서 숨김 처리 */
.heading-tag {
  display: none;
}

/* 052022 wrapper를 가장 큰 단위의 컴포넌트 바로 하위 자식으로 구성 */
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

/* >> header */
.header {
  display: flex;
  justify-content: center;
  background-color: white;
}

.header .wrapper {
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.header__log-out {
  display: block;
  padding: 0.5rem 1rem;
  border: 2px solid;
  border-color: rgb(173, 201, 241);
  background-color: white;
  border-radius: 10px;
  color: rgb(109, 165, 245);
}

/* 로그인 버튼의 텍스트 스타일 */
.header__log-out-txt {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(109, 165, 245);
}

.end-msg {
  width: 80%;
  text-align: center;
  margin: 30px auto;
  font-size: 3rem;
  font-weight: bold;

}