* {
  font-family: "Roboto", sans-serif;
}

/* 051922 footer를 고정하기 위한 방법으로 찾아보았습니다만, 여전히 적용되지 않는 것을 발견하였습니다.  */
#wrapper {
  height: auto;
  min-height: 100%;
}

/* header: 서비스 네비게이션 바 */
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* 051922 폰트 크기나 컴포넌트 간 마진 설정 값 등 다소 패턴화 할 수 있는 부분에 대해서 상수화 하는 것이 좋을까요?
  찾아보니 var()라는 속성이 css에도 있어 여쭤봅니다.  */
  margin-top: 10px;
  height: 60px;
  font-size: 1rem;
}

.navBarIcons {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 헤더 주요 메뉴들(Home, About us, Service, Forum) 사이의 마진 */
.navBarIcon {
  margin: 30px;
}

/* 모바일 화면으로 줄어들었을 때 나타나는 토글 버튼  */
.navbarToggleBtn {
  display: none;
  position: absolute;
}

/* 로그인 버튼 */
/* 로그인 버튼의 레이아웃 스타일 */
.loginBtn {
  padding: 0.5rem 1rem;
  border: 2px solid;
  border-color: rgb(173, 201, 241);
  background-color: white;
  border-radius: 10px;
  color: rgb(109, 165, 245);
}
/* 로그인 버튼의 텍스트 스타일 */
.loginBtnInnerText {
  /* 160px */
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(109, 165, 245);
}
/* 헤더 메뉴 버튼 태그가 링크 태그여서 발생하는 속성 초기화 처리 */
.navBarInnerText {
  text-decoration: none;
  color: black;
}

/* 구분선 */
.line {
  width: 90%;
  color: lightgrey;
}

/* 모바일 화면으로 줄어들었을 때 헤더에서 바뀌어야 할 사항 */
@media screen and (max-width: 750px) {
  .navBarIcons {
    display: none;
  }
  .loginBtn {
    display: none;
  }
}

/* section 태그 구분을 위한 헤딩 태그 초기화 */
.headingTag {
  display: none;
}

.formCard {
  width: 480px;
  /* 051922 컴포넌트를 브라우저 중앙에 위치하고 싶은데, display:flex나 grid말고도 아래와 같이 설정하는 방법은 현업에서 어떻게 생각할까요..? 너무 주먹구구 식으로 반영하는 것 같아 고민이 되어 여쭤봅니다.  */
  margin: 50px auto;
}

.formCardHeader {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.formCardFormat {
  display: grid;
  height: 500px;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(173, 201, 241);
  border-radius: 20px;
}

.formMessages {
  text-align: center;
}
.signUpWelcome {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.signUpGuide {
  font-size: 1.3rem;
  font-weight: bold;
}

.signUpForm{
  margin-bottom: 50px;
}
.signUpInputs {
  width: 300px;
}

.email, .password, .passwordCheck{
  width: 290px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 10px;
  padding : 0 0 0 10px;
}

.signUpInputs > .termsOfService{
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
}
.checkbox{
  text-align: center;
  vertical-align: middle;
}

.label{
  font-size: 1rem;
  margin: .4rem;
}

.submitBtn{
  font-size: 1.3rem;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(82, 146, 238);
  margin-top: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.submitBtn:hover{
  background-color: rgb(32, 49, 118);
  color: white;
}

input::placeholder {
  font-size: 1rem;
  color: lightgrey;
  padding: 10px 5px;
}

/* footer 섹션 */
.footer {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: rgb(32, 49, 118);
}
