<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- normalize.css 도입 -->
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="article.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- TODO: 링크 폰트 설치에 대한 장단점 알아보기 -->
    <!-- 웹에서 원하는 타이포를 항상 사용할 수 있지만, 웹 폰트의 용량, 네트워크의 속도에 따라 영향을 미칠 수 있으며 외부 링크가 다운로드 되지 않을 경우 적용된 텍스트가 브라우저에 보이지 않을 수 있다. -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>article | SUNBAENIM</title>
  </head>
  <body>
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="" class="header__icon" aria-label="홈화면">HOME</a>
        <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a>
        <a href="" class="header__icon" aria-label="게시판">FORUM</a>
        <section class="header__icon">
          <section class="header__icon--dropdown">
            <button
              type="button"
              class="header__icon--dropdown-notification"
            ></button>
            <div class="header__icon--dropdown-contents">
              <a
                href="#"
                aria-label="댓글 달림 알람"
                class="header__icon--dropdown-content"
                >You've got a comment</a
              >
              <a
                href="#"
                aria-label="좋아요 알람"
                class="header__icon--dropdown-content"
                >You've got a likes</a
              >
            </div>
          </section>
          <section class="header__icon--dropdown">
            <button
              type="button"
              class="header__icon--dropdown-account"
            ></button>
            <div class="header__icon--dropdown-contents">
              <a
                href="#"
                aria-label="내 계정"
                class="header__icon--dropdown-content"
                >My page</a
              >
              <a
                href="#"
                aria-label="게시물 작성하기"
                class="header__icon--dropdown-content"
                >Create Post</a
              >
              <a
                href="#"
                aria-label="북마크"
                class="header__icon--dropdown-content"
                >Bookmark</a
              >
            </div>
          </section>
        </section>
      </div>
    </header>
    <!-- 섹션 구분선 -->
    <hr />
    <section class="figure">
      <div class="wrapper">
        <img class="figure__img" src="article_header.jpg" />
      </div>
    </section>
    <section class="main">
      <div class="wrapper">
        <h1 class="heading-tag">article navigation section</h1>
        <nav class="main-nav">
          <h2 class="main-nav__title">Topics 🗣️</h2>
          <a href="#" class="main-nav__icon active">All Listings </a>
          <a href="#" class="main-nav__icon">IT Conference</a>
          <a href="#" class="main-nav__icon">Project Promo</a>
          <a href="#" class="main-nav__icon">Study Gathering</a>
          <a href="#" class="main-nav__icon">Education</a>
          <form class="main-nav__icon--search">
            <input
              class="main-nav__icon--search-text"
              type="text"
              placeholder="Keywords"
            />
            <input
              class="main-nav__icon--search-btn"
              type="submit"
              value="Search"
            />
          </form>
        </nav>
        <section class="article">
          <h1 class="heading-tag">article section</h1>
          <a href="#" class="article__create-btn">Create Post</a>
          <article class="article__content">
            <img
              class="article__content--thumbnail"
              src="article_thumbnail.jpg"
            />
            <section class="article__content--user">
              <button class="article__content--user-img"></button>
              <div>
                <div class="article__content--nickname">Nickname</div>
                <div class="article__content--date">Mar 18, 2022</div>
              </div>
            </section>
            <h2 class="article__content--title">
              The Rise of the Developer Community - Free Virtual Meetup - Mar 24
              1pm ET (GMT -4)
            </h2>
            <p class="article__content--words">
              What is Lorem Ipsum?<br />
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Le Lorem Ipsum est simplement du faux texte employé
              dans la composition et la mise en page avant impression. Le Lorem
              Ipsum est le faux texte standard de l'imprimerie depuis les années
              1500, quand un imprimeur anonyme assembla ensemble des morceaux de
              texte pour réaliser un livre spécimen de polices de texte.
            </p>
            <section class="article__content--reaction">
              <span class="article__content--likes">1K Likes</span>
              <span class="article__content--bookmark">Bookmark</span>
            </section>
            <hr />
            <section class="article__content--comment">
              <h4 class="article__content--comment-title">Discussion</h4>
              <form action="" id="commentform">
                <textarea
                  rows="3"
                  cols="100"
                  name="comment"
                  form="commentform"
                  placeholder="Enter text here.."
                ></textarea>
                <input type="submit" />
              </form>
            </section>
            <!-- TODO: 게시글 작성 라이브러리 검토해보기(디비에 어떻게 최대한 변경 없이 저장되지를 중점으로, 서버에 어떻게 전달될지)
            TODO: 푸터에 기업 정보 삽입하기 -->
            <section class="article__comment">
              <a href="#"
                ><img
                  class="article__comment--user-img"
                  src="user_profile.png"
              /></a>
              <article class="article__comment--contents">
                <span class="article__comment--user-nickname"></span>
                <span class="article__comment--create-at"></span>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
                <span class="article__comment--likes">5 Likes</span>
                <button class="article__comment--reply" type="button">
                  Reply
                </button>
              </article>
            </section>
            <section class="article__comment">
              <a href="#"
                ><img
                  class="article__comment--user-img"
                  src="../../../../user_profile.png"
              /></a>
              <article class="article__comment--contents">
                <span class="article__comment--user-nickname"></span>
                <span class="article__comment--create-at"></span>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
                <span class="article__comment--likes">5 Likes</span>
                <button class="article__comment--reply" type="button">
                  Reply
                </button>
              </article>
            </section>
            <section class="article__comment">
              <a href="#"
                ><img
                  class="article__comment--user-img"
                  src="../../../../user_profile.png"
              /></a>
              <article class="article__comment--contents">
                <span class="article__comment--user-nickname"></span>
                <span class="article__comment--create-at"></span>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </p>
                <span class="article__comment--likes">5 Likes</span>
                <button class="article__comment--reply" type="button">
                  Reply
                </button>
              </article>
            </section>
            <button class="article__comment--more-btn" type="button">
              More Comments
            </button>
          </article>
          <section class="article__next">
            <h3 class="article__next--header">Next Articles</h3>
            <div class="article__next--content">
              <a href="#"
                ><img
                  class="article__comment--user-img"
                  src="user_profile.png"
              /></a>
              <div>
                <a href="#" class="article__next--content-title">What is Lorem Ipsum?</a>
                <div><a href="#">Alan pupa</a></div>
              </div>
            </div>
            <div class="article__next--content">
              <a href="#"
                ><img
                  class="article__comment--user-img"
                  src="user_profile.png"
              /></a>
              <div>
                <a href="#" class="article__next--content-title">나는 왜..</a>
                <div><a href="#">Alan pupa</a></div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p class="footer__info">© 2022 Sunbaenim, LLC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
