<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- normalize.css 도입 -->
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/create_posting.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- TODO: 링크 폰트 설치에 대한 장단점 알아보기 -->
    <!-- 웹에서 원하는 타이포를 항상 사용할 수 있지만, 웹 폰트의 용량, 네트워크의 속도에 따라 영향을 미칠 수 있으며 외부 링크가 다운로드 되지 않을 경우 적용된 텍스트가 브라우저에 보이지 않을 수 있다. -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.quilljs.com/1.0.0/quill.snow.css"
      rel="stylesheet"
    />
    <title>create posting | SUNBAENIM</title>
  </head>
  <body>
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="" class="header__icon" aria-label="홈화면">HOME</a>
        <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a>
        <a href="/articles" class="header__icon" aria-label="게시판">FORUM</a>
        <section class="header__icon">
          <section class="header__icon--dropdown">
            <button
              type="button"
              class="header__icon--dropdown-notification"
            ></button>
            <div class="header__icon--dropdown-contents">
              <a
                href="#"
                aria-label="댓글 달림 알람"
                class="header__icon--dropdown-content"
                >You've got a comment</a
              >
              <a
                href="#"
                aria-label="좋아요 알람"
                class="header__icon--dropdown-content"
                >You've got a likes</a
              >
            </div>
          </section>
          <section class="header__icon--dropdown">
            <button
              type="button"
              class="header__icon--dropdown-account"
            ></button>
            <div class="header__icon--dropdown-contents">
              <a
                href="#"
                aria-label="내 계정"
                class="header__icon--dropdown-content"
                >My page</a
              >
              <a
                href="#"
                aria-label="게시물 작성하기"
                class="header__icon--dropdown-content"
                >Create Post</a
              >
              <a
                href="#"
                aria-label="북마크"
                class="header__icon--dropdown-content"
                >Bookmark</a
              >
            </div>
          </section>
        </section>
      </div>
    </header>
    <!-- 섹션 구분선 -->
    <hr />
    <section class="editor">
      <div class="wrapper">
        <h1 class="heading-tag">article editor section</h1>
        <section class="editor__header">
          <h1 class="editor__header-title">Create Post</h1>
          <section class="editor__header-btn">
            <input type="submit" value="Saved" id="saved-btn" />
            <input type="button" value="Cancel" id="cancel-btn" onclick="historyBack()" />
          </section>
        </section>
        <select name="" class="editor__category">
          <option value="recent">Category 1</option>
          <option value="like">Category 2</option>
          <option value="comment">Category 3</option>
          <option value="view">Category 4</option>
        </select>
        <section class="editor__container">
          <article id="editor"></article>
          <input type="submit" value="Posting" id="posting-btn" />
        </section>
      </div>
    </section>
    <!-- scripts -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script>
      var toolbarOptions = [
        ["bold", "italic", "underline", "strike"], // toggled buttons
        [{ font: [] }],
        [{ size: ["small", false, "large", "huge"] }], // custom dropdown
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        [{ color: [] }, { background: [] }], // dropdown with defaults from theme

        ["blockquote", "code-block"],
        ["image"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: [] }],
        [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
      ];

      var editor = new Quill("#editor", {
        modules: {
          toolbar: toolbarOptions,
        },
        theme: "snow",
        placeholder: "Type your contents..",
      });
    </script>
  </body>
</html>
