<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- normalize.css 도입 -->
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>login | SUNBAENIM</title>
  </head>
  <body>
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="/" class="header__icon" aria-label="홈화면">HOME</a>
        <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a>
        <a href="/articles" class="header__icon" aria-label="게시판">FORUM</a>
        <button class="header__login">
          <a href="/login" class="header__login-txt" aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
      </div>
    </header>
    <!-- 섹션 구분선 -->
    <hr />
    <section class="form-card" aria-label="로그인 폼 카드">
      <div class="wrapper">
        <h1 class="heading-tag">Login</h1>
        <header class="form-card__header" aria-label="로그인 폼 제목">
          Welcome to SUNBAENIM
        </header>
        <section class="form-card__section">
          <div class="login-welcome" aria-label="로그인 안내 문구">
            Let's get started!
          </div>
          <div class="login-guide" aria-label="로그인 안내 문구">
            Please confirm your email and password
          </div>
          <div class="form-card__section-email">
            <div class="input-area">
              <input
                type="email"
                required
                placeholder="example@sunbaenim.com"
                aria-label="이메일 입력창"
                class="email"
                id="email"
                name="email"
              />
            </div>
            <div class="error error-txt">Email can't be blank</div>
          </div>
          <div class="form-card__section-pwd">
            <div class="input-area">
              <input
                type="password"
                required
                placeholder="password"
                minlength="5"
                aria-label="비밀번호 입력창"
                class="password"
                id="pwd"
                name="pwd"
              />
            </div>
            <div class="error error-txt">Password can't be blank</div>
          </div>
          <input
            type="submit"
            value="Login"
            aria-label="로그인 정보 제출 버튼"
            class="submit-btn"
            id="login"
          />
          <div class="form-card__footer">
            <span
              ><a href="/signup" aria-label="회원가입 페이지로 이동"
                >Create Account</a
              ></span
            >
            <span>|</span>
            <span
              ><a href="/pwd" aria-label="비밀번호 찾기"
                >Forgot Password</a
              ></span
            >
          </div>
        </section>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p class="footer__info">© 2022 Sunbaenim, LLC. All rights reserved.</p>
      </div>
    </footer>
    <script type="module" crossorigin src="login.js"></script>
  </body>
</html>
