<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- normalize.css 도입 -->
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="mypage_account_setting.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>account | SUNBAENIM</title>
  </head>
  <body>
    <!-- 서비스 네비게이션 바 -->
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="/home" class="header__icon" aria-label="홈화면">HOME</a>
        <!-- <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a> -->
        <a href="/articles" class="header__icon" aria-label="게시판">FORUM</a>
        <button class="header__log-out">
          <a href="/login" class="header__log-out-txt" aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
        <section class="header__log-in">
          <!-- <section class="header__icon--dropdown">
            <button
              type="button"
              class="header__icon--dropdown-notification"
            ><img></button>
            <div class="header__icon--dropdown-contents">
              <a
                href="#"
                aria-label="댓글 달림 알람"
                class="header__icon--dropdown-content"
                >You've got a comment</a
              >
              <a
                href="#"
                aria-label="좋아요 알람"
                class="header__icon--dropdown-content"
                >You've got a likes</a
              >
            </div>
          </section> -->
          <section class="header__icon--dropdown">
            <button type="button" class="header__icon--dropdown-account">
              <img id="profileImg" src="/user_profile.png" />
            </button>
            <div class="header__icon--dropdown-contents">
              <a
                href="/account"
                aria-label="내 계정"
                class="header__icon--dropdown-content"
                >My account</a
              >
              <a
                href="/create"
                aria-label="게시물 작성하기"
                class="header__icon--dropdown-content"
                >Create Post</a
              >
              <button
                type="button"
                aria-label="로그아웃"
                class="header__icon--dropdown-content"
                id="logout"
              >
                Log out
              </button>
            </div>
          </section>
        </section>
        <aside id="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <strong>Do you want to logout?</strong>
            <div class="clearfix">
              <button type="button" class="yesbtn">Yes</button>
              <button type="button" class="nobtn">No</button>
            </div>
          </div>
        </aside>
      </div>
    </header>
    <!-- 섹션 구분선 -->
    <hr />
    <section class="main">
      <div class="wrapper">
        <h1 class="heading-tag">My page navigation</h1>
        <!-- <nav class="nav">
          <h1 class="nav__title">My page 🙋</h1>
          <div class="nav__lists">
            <a href="#" class="nav__list">My postings </a>
            <a href="#" class="nav__list">My comments</a>
            <a href="#" class="nav__list">Saved postings</a>
            <a href="#" class="nav__list active">Account setting</a>
          </div>
        </nav> -->
        <section class="account">
          <h1 class="heading-tag">Account setting section</h1>
          <section class="account__profile">
            <div class="account__profile-img__container">
              <label for="avatar">Change Image</label>
              <img class="account__profile-img" id="output" src="/user_profile.png">
              <input
                id="img"
                class="input-file"
                type="file"
                accept="image/png, image/jpeg, image/jpg"
                onchange="loadFile(event)"
              />
              <input class="img-submit-btn" type="submit" value="Save" />
            </div>
            <div class="account__profile-nickname__container">
              <label for="nickname">Change Nickname</label>
              <input
                class="input-text"
                id="nickname"
                type="text"
                name="nickname"
                placeholder="Nickname"
              />
              <input class="nickname-submit-btn" type="submit" value="Save" />
            </div>
            <aside id="edit-modal">
              <div class="edit-modal-content">
                <span class="edit-close">&times;</span>
                <p class="edit-modal-content__text">
                  <strong>Already Existed Nickname.<br>
                  Please choose another nickname for your account 😉
                  </strong>
                </p>
              </div>
            </aside>
            <aside id="success-modal">
              <div class="success-modal-content">
                <span class="success-close">&times;</span>
                <p class="success-modal-content__text">
                </p>
              </div>
            </aside>
          </section>
          <section class="account__pwd">
            <div class="account__pwd-container pwd">
              <label for="pwd">Current password</label>
              <input
                class="input-text"
                type="password"
                name="pwd"
                placeholder="Password"
                id="pwd"
              />
              <div class="error-empty">Incorrect password format</div>
            </div>
            <div class="account__pwd-container new">
              <label for="new_pwd">New password</label>
              <input
                class="input-text"
                type="password"
                name="new_pwd"
                placeholder="New Password"
                id="newPwd"
              />
              <div class="error-empty">Incorrect password format</div>
            </div>
            <div class="account__pwd-container check">
              <label for="new_pwd_check">Confirm new password</label>
              <input
                class="input-text"
                type="password"
                name="new_pwd_check"
                placeholder="New Password"
                id="pwdCheck"
              />
              <div class="error-format">Password is not matched</div>
            </div>
            <input class="pwd-submit-btn" type="submit" value="Save" />
          </section>
          <button class="delete-btn">Delete Account</button>
          <aside id="signout-modal">
            <div class="signout-modal-content">
              <span class="signout-close">&times;</span>
              <div><strong>Input your current password</strong></div>
              <input type="text" class="signout-modal__password">
              <div class="error-empty">Incorrect password format</div>
              <div class="error-invalid">Incorrect password</div>
              <div class="clearfix">
                <button type="button" id="submitSignOut" class="signout-yesbtn">Submit</button>
              </div>
            </div>
          </aside>
          <!-- <a href="/account/delete" class="delete-btn">Delete Account</a> -->
        </section>
      </div>
    </section>
    <script>
      const loadFile = function(event) {
        let output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src);
        }
      };
    </script>
    <script type="module" defer src="/myaccount.js"></script>
  </body>
</html>
