<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 051822 normalize.css 내 디렉토리로 파일 생성하여 도입 -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>signup | SUNBAENIM</title>
  </head>
  <body>
    <section id="wrapper">
      <header class="navBar" aria-label="서비스 로고 및 상단 메뉴바">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <ul class="navBarIcons">
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="홈화면">HOME</a>
          </li>
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="운영진 소개"
              >ABOUT US</a
            >
          </li>
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="서비스 소개"
              >SERVICE</a
            >
          </li>
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="게시판">FORUM</a>
          </li>
        </ul>
        <button class="loginBtn">
          <a
            href="login.html"
            class="loginBtnInnerText"
            aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
        <!--모바일 화면으로 줄어들었을 때 나타나는 토글 버튼 -->
        <a href="#" class="navbarToggleBtn">
          <i class="fas fa-bars"></i>
        </a>
      </header>
      <!-- 섹션 구분선 -->
      <hr class="line" />
      <section class="formCard" aria-label="회원가입 폼 카드">
        <!-- 051922 section, article, nav 태그의 경우 heading tag를 설정해주는 것이 좋다고 들었는데, 개인 선호도에 기반할까요? -->
        <h1 class="headingTag">Signup process #1</h1>
        <header class="formCardHeader" aria-label="회원가입 폼 제목">
          Welcome to SUNBAENIM
        </header>
        <section class="formCardFormat">
          <header class="formMessages">
            <div class="signUpWelcome" aria-label="회원가입 안내 문구">
              Create Account
            </div>
            <div class="signUpGuide" aria-label="회원가입 안내 문구">
              Please input your new account information
            </div>
          </header>
          <form action="" method="POST" class="signUpForm">
            <div class="signUpInputs">
              <input
                type="email"
                required
                placeholder="example@sunbaenim.com"
                aria-label="이메일 입력창"
                class="email"
                id="email"
              />
            </div>
            <div class="signUpInputs">
              <input
                type="password"
                required
                placeholder="Password"
                minlength="5"
                aria-label="비밀번호 입력창"
                class="password"
                id="pwd"
              />
            </div>
            <div class="signUpInputs">
              <input
                type="password"
                required
                placeholder="Password"
                minlength="5"
                aria-label="비밀번호 확인 입력창"
                class="passwordCheck"
                id="pwd_check"
              />
            </div>
            <!-- 051922 form 태그로 감싸진 컴포넌트 안에 데이터를 전송하지 않아도 되는 요소가 존재할 경우, 어떻게 처리하는 게 좋을까요?
            내 생각 : button을 밖으로 빼서 form에 연결한 뒤, form 태그 안에 필요 없는 컴포넌트와 함께 밖으로 뺀다 -->
            <div class="signUpInputs">
              <div class="termsOfService">
                <input
                  type="checkbox"
                  aria-label="회원가입 이용약관 동의"
                  id="checkbox"
                  class="checkbox"
                />
                <label class="label" for="checkbox"
                  >I agree to the terms of the service</label
                >
              </div>
            </div>
            <!-- 051922 submit 이후 다음 페이지로 넘어가게 하려면 서버에서 res.render로 처리해주는걸까요?  -->
            <div class="signUpInputs">
                <input
                type="submit"
                value="Continue"
                aria-label="회원가입 계속하기 버튼"
                class="submitBtn"
              />
            </div>
          </form>
        </section>
      </section>
    </section>
    <footer class="footer"></footer>
  </body>
</html>
