<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- normalize.css 도입 -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/signup_welcome.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 주석 작성일자 : 22.05.18 -->
    <title>welcome | SUNBAENIM</title>
  </head>
  <body>
    <section id="wrapper">
      <header class="navBar" aria-label="서비스 로고 및 상단 메뉴바">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <ul class="navBarIcons">
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="홈화면">HOME</a>
          </li>
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="운영진 소개"
              >ABOUT US</a
            >
          </li>
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="서비스 소개"
              >SERVICE</a
            >
          </li>
          <li class="navBarIcon">
            <a href="" class="navBarInnerText" aria-label="게시판">FORUM</a>
          </li>
        </ul>
        <button class="loginBtn">
          <a
            href="login.html"
            class="loginBtnInnerText"
            aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
        <!--모바일 화면으로 줄어들었을 때 나타나는 토글 버튼 -->
        <a href="#" class="navbarToggleBtn">
          <i class="fas fa-bars"></i>
        </a>
      </header>
      <!-- 섹션 구분선 -->
      <hr class="line" />
      <section class="welcomeSection">
        <article class="welcomeMessage">Welcome to SUNBAENIM 🙌</article>
        <section class="nextStepBtns">
          <a
            href="./5-frontend-nk-sunbaenim-new/view/html/main.html"
            class="backToHomeBtn"
            >Back to HOME</a
          >
          <a href="./login.html" class="backToLoginBtn">Login</a>
        </section>
      </section>
    </section>
    <footer class="footer"></footer>
  </body>
</html>
