<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- normalize.css 도입 -->
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="signup_welcome.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 주석 작성일자 : 22.05.18 -->
    <title>welcome | SUNBAENIM</title>
  </head>
  <body>
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="/" class="header__icon" aria-label="홈화면">HOME</a>
        <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a>
        <a href="/articles" class="header__icon" aria-label="게시판">FORUM</a>
        <button class="header__login">
          <a href="/login" class="header__login-txt" aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
      </div>
    </header>
      <!-- 섹션 구분선 -->
    <hr />
    <section class="welcome">
     <div class="wrapper">
      <article class="welcome__message">Account Created 😊 <br> Welcome to SUNBAENIM 🙌</article>
      <section class="welcome__btns">
        <a
          href="/"
          class="welcome__btns__home"
          >Back to HOME</a
        >
        <a href="/login" class="welcome__btns__login">Login</a>
      </section>
      </div>
    </section>
     <footer class="footer">
      <div class="wrapper">
        <p class="footer__info">© 2022 Sunbaenim, LLC. All rights reserved.</p>
      </div>
    </footer>
    <script>
      sessionStorage.clear();
    </script>
  </body>
</html>
