<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>signup | SUNBAENIM</title>
  </head>
  <body>
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="/" class="header__icon" aria-label="홈화면">HOME</a>
        <!-- <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a> -->
        <a href="/articles" class="header__icon" aria-label="게시판">FORUM</a>
        <button class="header__login">
          <a href="/login" class="header__login-txt" aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
      </div>
    </header>
    <!-- 섹션 구분선 -->
    <hr/>
    <section class="form" aria-label="회원가입 폼 카드">
      <div class="wrapper">
        <h1 class="heading-tag">Signup process #1</h1>
        <header class="form__header" aria-label="회원가입 폼 제목">
          Welcome to SUNBAENIM
        </header>
        <section class="form__section">
          <header class="form__section__header">
            <div class="welcome" aria-label="회원가입 안내 문구">
              Create Account
            </div>
            <div class="guide" aria-label="회원가입 안내 문구">
              Please input your new account information
            </div>
          </header>
          <section class="form__section-email">
            <input
            type="email"
            required
            placeholder="example@sunbaenim.com"
            aria-label="이메일 입력창"
            class="email"
            id="email"
            />
            <div class="error-empty">Email can't be blank</div>
            <div class="error-format">Incorrect format of email</div>
          </section>
          <section class="form__section-pwd__init">
            <input
            type="password"
            required
            placeholder="Password"
            minlength="5"
            aria-label="비밀번호 입력창"
            class="password"
            id="pwd"
            />
            <div class="error-empty">Incorrect password format</div>
          </section>
          <section class="form__section-pwd__check">
            <input
            type="password"
            required
            placeholder="Password"
            minlength="5"
            aria-label="비밀번호 확인 입력창"
            class="password-check"
            id="pwdCheck"
          />
          <div class="error-format">Password is not matched</div>
          </section>
          <div class="terms-of-service">
            <input
              type="checkbox"
              aria-label="회원가입 이용약관 동의"
              id="checkbox"
              class="checkbox"
            />
            <label class="label" for="checkbox"
              >I agree to the <a href="https://www.termsfeed.com/live/b852143f-94dc-466b-a813-7fadf6657f0e" target="_black">terms of the service</a></label
            >
          </div>
          <input
            type="submit"
            value="Continue"
            aria-label="회원가입 계속하기 버튼"
            class="submitBtn"
            id="submit"
          />
          <aside id="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p><strong>Unable to Sign up.</strong><br>
                Please agree the terms of service 😉
              </p>
            </div>
          </aside>
        </section>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p class="footer__info">© 2022 Sunbaenim, LLC. All rights reserved.</p>
      </div>
    </footer>
    <script type="module" src="./sign_up.js"></script>
  </body>
</html>
