<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/signup_profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>profile | SUNBAENIM</title>
  </head>
  <body>
    <header class="header" aria-label="서비스 로고 및 상단 메뉴바">
      <div class="wrapper">
        <h3 class="logo" aria-label="로고 텍스트">SUNBAENIM</h3>
        <a href="/" class="header__icon" aria-label="홈화면">HOME</a>
        <a href="" class="header__icon" aria-label="운영진 소개">ABOUT US</a>
        <a href="" class="header__icon" aria-label="서비스 소개">SERVICE</a>
        <a href="/articles" class="header__icon" aria-label="게시판">FORUM</a>
        <button class="header__login">
          <a href="/login" class="header__login-txt" aria-label="로그인 버튼"
            >LOG IN</a
          >
        </button>
      </div>
    </header>
    <!-- 섹션 구분선 -->
    <hr />
    <section class="profile" aria-label="프로필 등록 폼 카드">
      <div class="wrapper">
        <h1 class="heading-tag">Signup process #2</h1>
        <header class="profile__header" aria-label="프로필 등록 폼 제목">
          Welcome to SUNBAENIM
        </header>
        <section class="profile__section">
          <header class="profile__section-header">Create Your Profile</header>
          <img id="output" src="#">
          <input type="file" accept="image/*" id="img" onchange="loadFile(event)"/>
          <input
            type="submit"
            value="Submit"
            class="submit-btn"
            id="submitFile"
          />
          <label for="nickname">Nickname</label>
          <input
            type="text"
            required
            placeholder="Nickname"
            minlength="2"
            aria-label="닉네임 입력창"
            class="nickname"
            id="nickname"
          />
          <!-- 051922 유효성 검사 시 tag는 html안에 작성해두도록 한다 -->
          <span class="nickname-validation"
            >The Nickname is already existed</span
          >
          <span class="nickname-empty"
            >Please input your nickname</span
          >
          <input
            type="submit"
            value="Submit"
            aria-label="닉네임 유효성 검사"
            class="submit-btn"
            id="submitNickname"
          />
        </section>
      </div>
    </section>
    <footer class="footer">
      <div class="wrapper">
        <p class="footer__info">© 2022 Sunbaenim, LLC. All rights reserved.</p>
      </div>
    </footer>
    <script>
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src);
        }
      };
    </script>
    <script type="module" src="/profile.js"></script>
  </body>
</html>
